body {
	background-image: url("../images/image2.png");
	background-attachment:fixed;
	clear:both;
}
header h1 { 
    color:black;
   text-align:center;
  
}
p{
     color:black;
   text-align:center;
}
h1{
    color:#8C7672;
}


td{
	padding-top:4px;
	text-align:justify;
}
.en_tete{
	display:inline-block;
	
}

a{
    position: absolute; 
top: 1px; 
right: 10px;
}
main{
    text-align:left;
}
@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegular';
    src: url("LearningCurveDashed_OT-webfont.eot");
    src: url("LearningCurveDashed_OT-webfont.eot?#iefix") format('embedded-opentype'),
         url('LearningCurveDashed_OT-webfont.woff') format('woff'),
         url('LearningCurveDashed_OT-webfont.ttf') format('truetype'),
         url('LearningCurveDashed_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

h1 /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'LearningCurveProRegular', Arial, serif;
}
main{ border: 3px blue inset;
box-shadow: 6px 6px 0px black;
position: absolute; 
top: 300px; 
right: 10px;

}
    
