body {
	background-image: url("../images/image2.png");
	background-attachment:fixed;
	clear:both;
}
header h1{ 
    color:black;
}
h1{
    color:#8C7672;
}
.conteneur{
	width:100%;
	max-width:960px;
	padding:10px;
	margin:15px;
	margin:auto;
}
.colonne{
	display:inline-block;
	margin:10px;
	width:30.5%;
	vertical-align:top;
}
.colonne h1{
	text-align:center;
}
td{
	padding-top:4px;
	text-align:justify;
}
.en_tete{
	display:inline-block;
	vertical-align:middle;
}
iframe{
	width:50%;
	vertical-align:middle;
}
.contact{
	display:inline-block;
	margin-left:30px;
	vertical-align:middle;
}